@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center jumbotron-fluid hero-img">
    <h2 class="display-4 journal"><a asp-page="/Journal/Index">Journal</a></h2>
</section>
